name: Daily Automation

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  run-daily-log:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Make script executable
        run: chmod +x daily-log.sh

      - name: Run script
        run: ./daily-log.sh
